/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('foundation.css');

/*===========header & footer=============*/
.header_box{
  border-bottom: 1px solid lightgrey;
  text-align: center;
  opacity: 0.9;
  /*background-color: black;*/
}

.header_text{
  font-family:"Dancing Script";
  font-weight: bold;
}

.body{
  background-image: url();
}

.footer{
  text-align: right;
}

/*===========Index Page=============*/

.search_bar{
  margin-top: 10%;
  position:relative;
  left: 20%;
}

.search_button{
  width: 10%;
  position: relative;
  top: -3.5rem;
  left: 70%;
}

/*===========Search(Result) Page=============*/


/*===========Show Page=============*/
